<!-- MapServer Template -->
<!-- $Id: legend.html,v 1.2 2009-03-26 11:41:47 tkralidi Exp $ -->
[leg_group_html]
												<tr>
													<td colspan="2"><b>[leg_group_name]</b></td>
												</tr>
[/leg_group_html]

[leg_layer_html order_metadata=WMS_ORDER opt_flag=15]

												<tr>

													<td><input type="checkbox" name="layer" value="[leg_layer_name]" [if name=layer_status value=1]CHECKED[/if]/>
													<td>
[if name=layer_type oper=neq value=4]
														<img src="[leg_icon]" alt="[leg_layer_name]" title="[leg_layer_name]" border="1"/>
[/if]

[if name=layer_type value=4]<img src="[leg_icon width="22" height="18"]">[/if]
													</td>
													<td><a href="/ms-ogc-workshop/index.html" title="[leg_layer_name]">[leg_layer_name]</a></td>
												</tr>
[/leg_layer_html]
